# Python
**/__pycache__/
**/*.pyc
*.pyo
*.pyd
# Env files
.env
.env.local

# Virtual env
.venv/
env/

# VS Code
.vscode/

# Media files (optional)
media/

# Logs
*.log
db.sqlite3
*.sqlite3
media/
logs/
